.explore-menu-list-item img{
    height:200px;
    width:200px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.explore-menu h1{
    color:rgb(83, 20, 20);
    font-weight: 600;
}
.explore-menu-text{
    color:rgb(83, 20, 20);
    max-width: 100%;
    text-align: center;
    font-size:1.1rem;
}

.explore-menu-list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    text-align:center;
    margin:20px 0px;
}
.explore-menu hr{
    margin:10px 0;
    height: 2px;
    background-color: #e2e2e2;
    border:none
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: gray;
    font-size: 1rem;
    cursor: pointer;
}

.explore-menu-list-item- .active{
    border:5px solid sandybrown;
}
.explore-menu{
    display:flex;
    flex-direction:column;
    gap:20px;
    text-align: center;
    padding:20px;
}

